<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
</head>
<body>
    <div class="container">
        <h2>Node.JS mvc</h2>
        <% if (news.length > 0) {%>
            <div class="col-md-12 jumbotron">
                <h4><%= users[i].name %</h4>
                <p><%= users[i].function%></p>
                <p><%= users[i].age%></p>
            </div>
    </div>
</body>
</html>